.resetWrapper{
    width: 50%;
    border:1px solid #d7d7d7;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px rgb(171, 167, 167);
    padding: 1rem;
    .title{
        color: rgb(111, 107, 107);
        font-weight: 600;
        font-size: 1.2rem;
        display: grid;
        justify-content: center;
        text-transform: uppercase;
    }
    .inputFields{
    padding-top: 1rem;
       display: grid;
       grid-gap: 1rem;
       .inputField{
        display: grid;
        height: 2rem;
        input{
            border: 1px solid #d7d7d7 !important;
        }
       }
    }
    .actionBtn{
        padding-top: 1rem;
        width: 100%;
    }
    .btn{
        background-color: rgb(55, 181, 55);
        padding: 0.5rem;
        cursor: pointer;
        width: 100%;
        color: white;
        border: 1px solid #d7d7d7;
        font-size: 1rem;
        border-radius: 2px;
        &:hover{
            box-shadow: 2px 2px 1px 1px #0b0707;
        }
    }
    .text{
        display: flex;
        justify-content: flex-end;
        grid-gap: 0.5rem;
        padding-top: 1rem;
        .link{
            color: blue;
            cursor: pointer;
        }
    }
    .reset{
        color: white;
        display: flex;
        justify-content: flex-end;
        grid-gap: 0.5rem;
        .link{
            color: blue;
            cursor: pointer;
        }
    }
}